<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello ISS!</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@0.7.7/dist/leaflet.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue-orange.min.css" />
  <script src="https://unpkg.com/leaflet@0.7.7/dist/leaflet.js"></script>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>

<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout  mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>International Space Station - Location</h3>
      </div>
      <div class="mdl-layout--small-screen-only mdl-layout__header-row">
          <span class="mdl-layout-title">ISS - Location</span>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
    </header>
    <main role="mdl-layout__content">
      <%= render @view_module, @view_template, assigns %>
    </main>

  </div> <!-- /container -->
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
